
<div style="margin-top:20%" class="d-flex justify-content-center">
    <div class=" spinner-border" role="status">
        <span class="visually-hidden"></span><br />
    </div>
    <div class="text-align-center col-md-2">
        <span>Loading....</span>
    </div>
</div>
@code {

}
